[submodule "pack/TK1/start/nerdtree"]
	path = pack/TK1/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/TK1/start/solarized8"]
	path = pack/TK1/start/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
